In [41]:
# Importando pacotes necessários
import pandas as pd
import sqlalchemy
import os
!pip install pymysql
import pymysql
import sqlite3 as sql

Requirement already satisfied: pymysql in c:\users\emili\anaconda3\lib\site-packages (1.0.2)

In [8]:
# Criando a conexão com o MySQL
conn = pymysql.connect(
    host = 'localhost',
    port = int(3306),
    user = 'root',
    passwd = 'password12345',
    db = 'smarttbot',
)

In [92]:
# Importanto as Tabelas da Base de Dados
per_per_r = pd.read_sql_query("SELECT * FROM person_person_r",
    conn);
prod_prod_r = pd.read_sql_query("SELECT * FROM production_product_r",
    conn);
scr = pd.read_sql_query("SELECT * FROM sales_customer_r",
    conn);
ssodr = pd.read_sql_query("SELECT * FROM sales_sales_order_detail_r",
    conn);
ssohr = pd.read_sql_query("SELECT * FROM sales_sales_order_header_r",
    conn);
ssopr = pd.read_sql_query("SELECT * FROM sales_special_offer_product_r",
    conn);

In [15]:
# Checando se as Tabelas foram importadas
print(per_per_r);
print(prod_prod_r);
print(scr);
print(ssodr);
print(ssohr);
print(ssopr);

       BusinessEntityID PersonType Title FirstName MiddleName    LastName  \
0                     1         EM             Ken          J     Sánchez
1                     2         EM           Terri        Lee       Duffy
2                     3         EM         Roberto             Tamburello
3                     4         EM             Rob                Walters
4                     5         EM   Ms.      Gail          A    Erickson
...                 ...        ...   ...       ...        ...         ...
19967             20773         IN         Crystal                    Guo
19968             20774         IN        Isabella          F  Richardson
19969             20775         IN         Crystal          S          He
19970             20776         IN         Crystal                  Zheng
19971             20777         IN         Crystal                     Hu

      Suffix  EmailPromotioN AdditionalContactInfo  \
0                          0
1                          1
2                          0
3                          0
4                          0
...      ...             ...                   ...
19967                      0
19968                      2
19969                      0
19970                      1
19971                      0

                                            Demographics  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
19967  54.482004-04-19Z1974-11-23ZS0-25000F00Partial ...
19968  -13.012003-08-30Z1961-06-12ZM50001-75000F10Par...
19969  112.582004-04-12Z1940-04-05ZM50001-75000F30Bac...
19970  -9.512004-02-15Z1975-07-25ZS25001-50000F00Part...
19971  -19.52003-11-17Z1971-05-05ZM75001-100000F00Bac...

                                    rowguid ModifiedDate
0      92C4279F-1207-48A3-8448-4636514EB7E2   2009-01-07
1      D8763459-8AA8-47CC-AFF7-C9079AF79033   2008-01-24
2      E1A2555E-0828-434B-A33B-6F38136A37DE   2007-11-04
3      F2D7CE06-38B3-4357-805B-F4B6B71C01FF   2007-11-28
4      F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF   2007-12-30
...                                     ...          ...
19967  D0A499A2-C258-43E9-AB06-F61543A71134   2014-03-19
19968  A4F7F248-82F3-43D5-B5A3-8BD1CB610254   2013-07-29
19969  CD0B82D0-3409-4497-A65F-A68E75EE26CB   2014-03-12
19970  386E35E8-97B3-43E4-9B5F-9594C2FF5CEA   2014-01-14
19971  1773C8F3-2CC7-4826-A7F5-30D3F36543CD   2013-10-16

[19972 rows x 12 columns]
     ProductID            ProductName ProductNumber  MakeFlag  \
0            1        Adjustable Race       AR-5381         0
1            2           Bearing Ball       BA-8327         0
2            3        BB Ball Bearing       BE-2349         1
3            4  Headset Ball Bearings       BE-2908         0
4          316                  Blade       BL-2036         1
..         ...                    ...           ...       ...
499        995      ML Bottom Bracket       BB-8107         1
500        996      HL Bottom Bracket       BB-9108         1
501        997      Road-750 Black 44    BK-R19B-44         1
502        998      Road-750 Black 48    BK-R19B-48         1
503        999      Road-750 Black 52    BK-R19B-52         1

     FinishedGoodsFlag  Color  SafetyStockLevel  ReorderPoint  StandardCost  \
0                    0   None              1000           750             0
1                    0   None              1000           750             0
2                    0   None               800           600             0
3                    0   None               800           600             0
4                    0   None               800           600             0
..                 ...    ...               ...           ...           ...
499                  1   None               500           375        449506
500                  1   None               500           375        539416
501                  1  Black               100            75       3436496
502                  1  Black               100            75       3436496
503                  1  Black               100            75       3436496

     ListPrice  ... DaysToManufacture ProductLine Class  Style  \
0            0  ...                 0        None  None   None
1            0  ...                 0        None  None   None
2            0  ...                 1        None  None   None
3            0  ...                 0        None  None   None
4            0  ...                 1        None  None   None
..         ...  ...               ...         ...   ...    ...
499      10124  ...                 1        None    M    None
500      12149  ...                 1        None    H    None
501      53999  ...                 4          R     L      U
502      53999  ...                 4          R     L      U
503      53999  ...                 4          R     L      U

     ProductSubcategoryID ProductModelID SellStartDate SellEndDate  \
0                     NaN            NaN    2008-04-30        None
1                     NaN            NaN    2008-04-30        None
2                     NaN            NaN    2008-04-30        None
3                     NaN            NaN    2008-04-30        None
4                     NaN            NaN    2008-04-30        None
..                    ...            ...           ...         ...
499                   5.0           96.0    2013-05-30        None
500                   5.0           97.0    2013-05-30        None
501                   2.0           31.0    2013-05-30        None
502                   2.0           31.0    2013-05-30        None
503                   2.0           31.0    2013-05-30        None

                                  rowguid  ModifiedDate
0    694215B7-08F7-4C0D-ACB1-D734BA44C0C8    2014-02-08
1    58AE3C20-4F3A-4749-A7D4-D568806CC537    2014-02-08
2    9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E    2014-02-08
3    ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B    2014-02-08
4    E73E9750-603B-4131-89F5-3DD15ED5FF80    2014-02-08
..                                    ...           ...
499  71AB847F-D091-42D6-B735-7B0C2D82FC84    2014-02-08
500  230C47C5-08B2-4CE3-B706-69C0BDD62965    2014-02-08
501  44CE4802-409F-43AB-9B27-CA53421805BE    2014-02-08
502  3DE9A212-1D49-40B6-B10A-F564D981DBDE    2014-02-08
503  AE638923-2B67-4679-B90E-ABBAB17DCA31    2014-02-08

[504 rows x 24 columns]
       CustomerID  PersonID  StoreID  TerritoryID AccountNumber  \
0               1       NaN    934.0            1    AW00000001
1               2       NaN   1028.0            1    AW00000002
2               3       NaN    642.0            4    AW00000003
3               4       NaN    932.0            4    AW00000004
4               5       NaN   1026.0            4    AW00000005
...           ...       ...      ...          ...           ...
19815       30114    1985.0   1986.0            7    AW00030114
19816       30115    1987.0   1988.0            6    AW00030115
19817       30116    1989.0   1990.0            4    AW00030116
19818       30117    1991.0   1992.0            4    AW00030117
19819       30118    1993.0   1994.0            3    AW00030118

                                    rowguid ModifiedDate
0      3F5AE95E-B87D-4AED-95B4-C3797AFCB74F   2014-09-12
1      E552F657-A9AF-4A7D-A645-C429D6E02491   2014-09-12
2      130774B1-DB21-4EF3-98C8-C104BCD6ED6D   2014-09-12
3      FF862851-1DAA-4044-BE7C-3E85583C054D   2014-09-12
4      83905BDC-6F5E-4F71-B162-C98DA069F38A   2014-09-12
...                                     ...          ...
19815  97154F3D-28F1-4B15-AE03-9518B781ECE3   2014-09-12
19816  E4CF8FD5-30A4-4B8E-8FD8-47032E255778   2014-09-12
19817  EC409609-D25D-41B8-9D15-A1AA6E89FC77   2014-09-12
19818  6F08E2FB-1CD3-4F6E-A2E6-385669598B19   2014-09-12
19819  2495B4EB-FE8B-459E-A1B6-DBA25C04E626   2014-09-12

[19820 rows x 7 columns]
        SalesOrderDetailID  SalesOrderID CarrierTrackingNumber  OrderQty  \
0                        1         43659          4911-403C-98         1
1                        2         43659          4911-403C-98         3
2                        3         43659          4911-403C-98         1
3                        4         43659          4911-403C-98         1
4                        5         43659          4911-403C-98         1
...                    ...           ...                   ...       ...
121312              121313         75122                  None         1
121313              121314         75122                  None         1
121314              121315         75123                  None         1
121315              121316         75123                  None         1
121316              121317         75123                  None         1

        ProductID  SpecialOfferID  UnitPrice  UnitPriceDiscount  LineTotal  \
0             776               1    2024994                  0    2024.99
1             777               1    2024994                  0    6074.98
2             778               1    2024994                  0    2024.99
3             771               1    2039994                  0    2039.99
4             772               1    2039994                  0    2039.99
...           ...             ...        ...                ...        ...
121312        878               1       2198                  0      21.98
121313        712               1        899                  0       8.99
121314        878               1       2198                  0      21.98
121315        879               1      15900                  0     159.00
121316        712               1        899                  0       8.99

                                     rowguid ModifiedDate
0       B207C96D-D9E6-402B-8470-2CC176C42283   2011-05-31
1       7ABB600D-1E77-41BE-9FE5-B9142CFC08FA   2011-05-31
2       475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F   2011-05-31
3       04C4DE91-5815-45D6-8670-F462719FBCE3   2011-05-31
4       5A74C7D2-E641-438E-A7AC-37BF23280301   2011-05-31
...                                      ...          ...
121312  8CAD6675-18CC-4F47-8287-97B41A8EE47D   2014-06-30
121313  84F1C363-1C50-4442-BE16-541C59B6E12C   2014-06-30
121314  C18B6476-429F-4BB1-828E-2BE5F82A0A51   2014-06-30
121315  75A89C6A-C60A-47EA-8A52-B52A9C435B64   2014-06-30
121316  73646D26-0461-450D-8019-2C6C858619CA   2014-06-30

[121317 rows x 11 columns]
       SalesOrderID  RevisionNumber   OrderDate     DueDate    ShipDate  \
0             43659               8  2011-05-31  2011-06-12  2011-06-07
1             43660               8  2011-05-31  2011-06-12  2011-06-07
2             43661               8  2011-05-31  2011-06-12  2011-06-07
3             43662               8  2011-05-31  2011-06-12  2011-06-07
4             43663               8  2011-05-31  2011-06-12  2011-06-07
...             ...             ...         ...         ...         ...
31460         75119               8  2014-06-30  2014-07-12  2014-07-07
31461         75120               8  2014-06-30  2014-07-12  2014-07-07
31462         75121               8  2014-06-30  2014-07-12  2014-07-07
31463         75122               8  2014-06-30  2014-07-12  2014-07-07
31464         75123               8  2014-06-30  2014-07-12  2014-07-07

       OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  \
0                    0          SO43659         PO522145787  10-4020-000676
1                    0          SO43660       PO18850127500  10-4020-000117
2                    0          SO43661       PO18473189620  10-4020-000442
3                    0          SO43662       PO18444174044  10-4020-000227
4                    0          SO43663       PO18009186470  10-4020-000510
...                ...              ...                 ...             ...
31460                1          SO75119                None  10-4030-011981
31461                1          SO75120                None  10-4030-018749
31462                1          SO75121                None  10-4030-015251
31463                1          SO75122                None  10-4030-015868
31464                1          SO75123                None  10-4030-018759

       CustomerID  ...  ShipMethodID  CreditCardID  CreditCardApprovalCode  \
0           29825  ...             5       16281.0           105041Vi84182
1           29672  ...             5        5618.0           115213Vi29411
2           29734  ...             5        1346.0             85274Vi6854
3           29994  ...             5       10456.0           125295Vi53935
4           29565  ...             5        4322.0            45303Vi22691
...           ...  ...           ...           ...                     ...
31460       11981  ...             1        6761.0           429826Vi35166
31461       18749  ...             1        8925.0           929849Vi46003
31462       15251  ...             1       14220.0           529864Vi73738
31463       15868  ...             1       18719.0           330022Vi97312
31464       18759  ...             1       10084.0           230370Vi51970

       CurrencyRateID   SubTotal    TaxAmt  Freight   TotalDue  \
0                 NaN  205656206  19715149  6160984  231532339
1                 NaN   12942529   1242483   388276   14573288
2                 4.0  327264786  31537696   985553  368658012
3                 4.0  288325289  27751646  8672389  324749324
4                 NaN    4194589    402681   125838    4723108
...               ...        ...       ...      ...        ...
31460             NaN       4228     33824     1057     467194
31461             NaN       8496     67968     2124     938808
31462             NaN       7498     59984    18745     828529
31463             NaN       3097     24776     7743     342219
31464             NaN      18997    151976    47493    2099169

                                    rowguid  ModifiedDate
0      79B65321-39CA-4115-9CBA-8FE0903E12E6    2011-06-07
1      738DC42D-D03B-48A1-9822-F95A67EA7389    2011-06-07
2      D91B9131-18A4-4A11-BC3A-90B6F53E9D74    2011-06-07
3      4A1ECFC0-CC3A-4740-B028-1C50BB48711C    2011-06-07
4      9B1E7A40-6AE0-4AD3-811C-A64951857C4B    2011-06-07
...                                     ...           ...
31460  9382F1C9-383A-435F-9449-0EECEA21B78D    2014-07-07
31461  AE6A4FCF-FF73-4CD4-AF2C-5993D00D4AFE    2014-07-07
31462  D7395C0E-00CB-4BFA-A238-0D6A9F49884F    2014-07-07
31463  4221035A-4159-492F-AF40-4363A64FFC16    2014-07-07
31464  D54752FF-2B54-4BE5-95EA-3B72289C059F    2014-07-07

[31465 rows x 24 columns]
     SpecialOfferID  ProductID                               rowguid  \
0                 1        680  BB30B868-D86C-4557-8DB2-4B2D0A83A0FB
1                 1        706  B3C9A4B1-2AE6-4CBA-B552-1F206C9F4C1F
2                 1        707  27B711FE-0B77-4EA4-AD1A-7C239956BEF4
3                 1        708  46CBB78B-246E-4D69-9BD6-E521277C1078
4                 1        709  CF102AA0-055F-4D2B-8B98-04B161758EA8
..              ...        ...                                   ...
533              16        984  52DD0F65-0EA9-4848-9884-7594BA953274
534              16        985  C8127A82-05C3-42FD-A5C6-215D58A236BD
535              16        986  C60FB28D-2431-481C-985E-3FEA8119D705
536              16        987  BEBD6F20-D6C2-4511-8C97-1F53B2099D1F
537              16        988  2981C98B-A18F-4153-A6A2-EC453CB130CE

    ModifiedDate
0     2011-04-01
1     2011-04-01
2     2011-04-01
3     2011-04-01
4     2011-04-01
..           ...
533   2014-03-01
534   2014-03-01
535   2014-03-01
536   2014-03-01
537   2014-03-01

[538 rows x 4 columns]

In [ ]:
# Devido ao fato de eu ter mais familiaridade com o MySQL, tentei fazer a modelagem dos dados por lá.
# Tive diversos problemas para fazer importação e cheguei ao ponto de utilizar o Excel e o PowerBI para entender melhor os erros e os dados.
# Dito isto, utilizarei o Jupyter para fazer as queries que já haviam sido feitas no MySQL.

In [18]:
scr.describe

<bound method NDFrame.describe of        CustomerID  PersonID  StoreID  TerritoryID AccountNumber  \
0               1       NaN    934.0            1    AW00000001
1               2       NaN   1028.0            1    AW00000002
2               3       NaN    642.0            4    AW00000003
3               4       NaN    932.0            4    AW00000004
4               5       NaN   1026.0            4    AW00000005
...           ...       ...      ...          ...           ...
19815       30114    1985.0   1986.0            7    AW00030114
19816       30115    1987.0   1988.0            6    AW00030115
19817       30116    1989.0   1990.0            4    AW00030116
19818       30117    1991.0   1992.0            4    AW00030117
19819       30118    1993.0   1994.0            3    AW00030118

                                    rowguid ModifiedDate
0      3F5AE95E-B87D-4AED-95B4-C3797AFCB74F   2014-09-12
1      E552F657-A9AF-4A7D-A645-C429D6E02491   2014-09-12
2      130774B1-DB21-4EF3-98C8-C104BCD6ED6D   2014-09-12
3      FF862851-1DAA-4044-BE7C-3E85583C054D   2014-09-12
4      83905BDC-6F5E-4F71-B162-C98DA069F38A   2014-09-12
...                                     ...          ...
19815  97154F3D-28F1-4B15-AE03-9518B781ECE3   2014-09-12
19816  E4CF8FD5-30A4-4B8E-8FD8-47032E255778   2014-09-12
19817  EC409609-D25D-41B8-9D15-A1AA6E89FC77   2014-09-12
19818  6F08E2FB-1CD3-4F6E-A2E6-385669598B19   2014-09-12
19819  2495B4EB-FE8B-459E-A1B6-DBA25C04E626   2014-09-12

[19820 rows x 7 columns]>

In [49]:
!pip install -U pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in c:\users\emili\anaconda3\lib\site-packages (from pandasql) (1.20.3)
Requirement already satisfied: pandas in c:\users\emili\anaconda3\lib\site-packages (from pandasql) (1.3.4)
Requirement already satisfied: sqlalchemy in c:\users\emili\anaconda3\lib\site-packages (from pandasql) (1.4.22)
Requirement already satisfied: pytz>=2017.3 in c:\users\emili\anaconda3\lib\site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\emili\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\emili\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\emili\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=83fc6beeaf9b240ac478f6614845fd617374d8bb1d78eab568515f37a08b55bc
  Stored in directory: c:\users\emili\appdata\local\pip\cache\wheels\63\e8\ec\75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [51]:
from pandasql import sqldf
mysql = lambda q: sqldf(q, globals())

In [59]:
#Respondendo as Questões:
'''1. Escreva uma query que retorna a quantidade de linhas na tabela Sales.SalesOrderDetail
pelo campo SalesOrderID, desde que tenham pelo menos três linhas de detalhes.'''

mysql("SELECT SalesOrderID, COUNT(*) FROM ssodr WHERE SalesOrderID GROUP BY SalesOrderID HAVING SalesOrderID >= 3;")

       SalesOrderID  COUNT(*)
0             43659        12
1             43660         2
2             43661        15
3             43662        22
4             43663         1
...             ...       ...
31460         75119         3
31461         75120         3
31462         75121         3
31463         75122         2
31464         75123         3

[31465 rows x 2 columns]

In [71]:
'''2. Escreva uma query que ligue as tabelas Sales.SalesOrderDetail, Sales.SpecialOfferProduct 
e Production.Product e retorne os 3 produtos (Name) mais vendidos (pela soma de 
OrderQty), agrupados pelo número de dias para manufatura (DaysToManufacture).'''

mysql("SELECT ppr.ProductName AS Products, ssodr.OrderQty AS Qty FROM ssodr, prod_prod_r AS ppr INNER JOIN ssodr AS sod ON ppr.ProductID = sod.ProductID GROUP BY Products ORDER BY Qty LIMIT 3;")

PandaSQLException: (sqlite3.OperationalError) database or disk is full
[SQL: SELECT ppr.ProductName AS Products, ssodr.OrderQty AS Qty FROM ssodr, prod_prod_r AS ppr INNER JOIN ssodr AS sod ON ppr.ProductID = sod.ProductID GROUP BY Products ORDER BY Qty LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
#Infelizmente, não consegui rodar a query anterior (tanto no Jupyter quanto no MySQL) e não sei como melhora-la. Está errada mas fui até onde meu conhecimento me permite, atualmente.
#Sei que preciso melhorar e por isso sigo estudando mas peço desculpas por deixar essa incompleta.

In [81]:
"""3. Escreva uma query ligando as tabelas Person.Person, Sales.Customer e 
Sales.SalesOrderHeader de forma a obter uma lista de nomes de clientes e uma contagem 
de pedidos efetuados."""

mysql("SELECT ppr.FirstName || ' ' || ppr.MiddleName || ' ' || ppr.LastName AS FullName, COUNT(*) AS Qty FROM ssohr AS soh INNER JOIN scr AS sc ON soh.CustomerID = sc.CustomerID INNER JOIN per_per_r AS ppr ON PersonID = ppr.BusinessEntityID GROUP BY FullName ORDER BY Qty DESC;")

                FullName  Qty
0        Mason D Roberts   28
1          Dalton  Perez   28
2      Samantha  Jenkins   27
3        Ryan M Thompson   27
4        Nancy E Chapman   27
...                  ...  ...
19096     Aaron  Edwards    1
19097     Aaron  Coleman    1
19098        Aaron  Chen    1
19099      Aaron  Butler    1
19100   Aaron  Alexander    1

[19101 rows x 2 columns]

In [83]:
'''4. Escreva uma query usando as tabelas Sales.SalesOrderHeader, Sales.SalesOrderDetail e 
Production.Product, de forma a obter a soma total de produtos (OrderQty) por ProductID e 
OrderDate.'''

mysql("SELECT ppr.ProductID AS ProdID, ppr.ProductName, SUM(sod.OrderQty) AS Qty, soh.OrderDate FROM ssohr AS soh INNER JOIN ssodr AS sod ON soh.SalesOrderID = sod.SalesOrderID INNER JOIN prod_prod_r AS ppr ON sod.ProductID = ppr.ProductID GROUP BY ProdID ORDER BY Qty DESC;")

     ProdID                      ProductName   Qty   OrderDate
0       712                     AWC Logo Cap  8311  2011-05-31
1       870            Water Bottle - 30 oz.  6815  2013-05-30
2       711            Sport-100 Helmet Blue  6743  2011-05-31
3       715        Long-Sleeve Logo Jersey L  6592  2011-05-31
4       708           Sport-100 Helmet Black  6532  2011-05-31
..      ...                              ...   ...         ...
261     898       LL Touring Frame - Blue 62    15  2013-05-30
262     911              LL Road Seat/Saddle    10  2013-05-30
263     943     LL Mountain Frame - Black 40     8  2013-05-30
264     942  ML Mountain Frame-W - Silver 38     7  2013-05-30
265     897       LL Touring Frame - Blue 58     4  2013-06-30

[266 rows x 4 columns]

In [89]:
"""5. Escreva uma query mostrando os campos SalesOrderID, OrderDate e TotalDue da tabela 
Sales.SalesOrderHeader. Obtenha apenas as linhas onde a ordem tenha sido feita durante 
o mês de setembro/2011 e o total devido esteja acima de 1.000. Ordene pelo total devido 
decrescente."""

mysql("SELECT SalesOrderID, OrderDate, TotalDue FROM ssohr WHERE strftime('%m', OrderDate) = '07' AND TotalDue >= 1000 ORDER BY TotalDue DESC;")

      SalesOrderID   OrderDate    TotalDue
0            47395  2012-07-31  1650287482
1            47369  2012-07-31  1580565449
2            47355  2012-07-31  1457418553
3            43875  2011-07-01  1373432877
4            43884  2011-07-01  1304164829
...            ...         ...         ...
2351         52751  2013-07-17        4409
2352         52816  2013-07-18        4409
2353         52992  2013-07-22        4409
2354         53160  2013-07-25        4409
2355         53162  2013-07-25        4409

[2356 rows x 3 columns]